@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Pedido" asp-action="crearPedido" method="post">
    <fieldset>
        <legend>Informacion personal</legend>
        <label for="apellido">Apellido:<input id="apellido" name="apellido_cliente" type="text" /></label>
        <label for="nombre">Nombre:<input id="nombre" name="nombre_cliente" type="text" /></label>
        <label for="direccion">Domicilio:<input id="direccion" name="domicilio_cliente" type="text" /></label>
        <label for="telefono">Telefono:<input id="telefono" name="telefono_cliente" type="text" /></label>
    </fieldset>

    <fieldset>
        <legend>Informacion del pedido</legend>
        <label for="pedido"></label>
        <textarea id="pedido" name="pedido"></textarea>
    </fieldset>
    <button type="submit">Realizar Pedido</button>
</form>