@{
    ViewData["Title"] = "Home Page";
}

@model List<tp3_taller.Entidades.Cadete>
 
<div class="text-center">
    <h1 class="display-4">Cadeteria</h1>
    <h2>Agregar cadetes</h2>
    <form  asp-action="CrearListaCadete" asp-controller="Cadete" method="post">
        <label for="nombre">Nombre: <input type="text" name="nombre" id="nombre" /></label>
        <label for="direccion">Direccion: <input type="text" name="direccion" id="direccion" /></label>
        <label for="telefono">Telefono: <input type="text" name="telefono" id="telefono" /></label>
        <input type="submit" name="btnEnviar" value="Crear Cadete" />
    </form>

    <h2>Lista de Cadetes</h2>


    
</div>
