@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadeteria</h1>
    <h2>Agregar cadetes</h2>
    <form action="/" asp-action="" method="post">
        <label for="nombre">Nombre: <input type="text" name="nombre" id="nombre" /></label>
        <label for="direccion">Direccion: <input type="text" name="direccion" id="direccion" /></label>
        <label for="telefono">Telefono: <input type="text" name="telefono" id="telefono" /></label>
        <input type="submit" name="btnEnviar" value="Crear Cadete" />
    </form>
</div>
