@{
    ViewData["Title"] = "Home Page";
}

@model List<tp3_taller.Entidades.Cadete>
 
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id </th>
                <th scope="row">@item.Nombre </th>
                <th scope="row">@item.Telefono </th>
            </tr>
         
        }

    </tbody>
</table>
