@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="GuardarPedido" asp-controller="Pedido" method="post">
    <fieldset>
        <legend>Datos del Cliente</legend>
        <p>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre_cliente" />

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido_cliente" />
        </p>
        <p>
            <label for="direccion">Direccion:</label>
            <input type="text" id="direccion" name="direccion_cliente" />

            <label for="telefono">Telefono:</label>
            <input type="text" id="telefono" name="telefono_cliente" />
        </p>
    </fieldset>
    
    <fieldset>
        <legend>Datos del pedido</legend>
        <p>
            <label for="pedido">pedido</label>
            <textarea id="pedido" name="pedido"></textarea>
        </p>
    </fieldset>
    <p>
        <button type="submit">realizar pedido</button>
    </p>
</form>
